

.album-photo-page {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.album-page-title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.album-page-title-button {
  position: absolute;
  left: 25%;
}

.album-photo-page-photos {
   display: flex;
   flex-direction: row;
   margin-bottom: 50px;
}
h3 {
  padding-left: 20px;
}
